<p id="notice"><%= notice %></p>

<p>
  <strong>Subscribed user:</strong>
  <%= @subscription.subscribed_user_id %>
</p>

<p>
  <strong>Subscription date:</strong>
  <%= @subscription.subscription_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @subscription.user_id %>
</p>

<%= link_to 'Edit', edit_user_subscription_path(@user,@subscription) %> |
<%= link_to 'Back', user_subscriptions_path %>
