<p id="notice"><%= notice %></p>

<h1>Events</h1>
<% if @events == nil %>
  <h3> There are no events as per the Search Category. </h3>
  <% else %>
    
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Description</th>
          <th>Organizer name</th>
          <th>Organizer email</th>
          <th>Organizer contact no</th>
          <th>Venue</th>
          <th>Address1</th>
          <th>Address2</th>
          <th>City</th>
          <th>County</th>
          <th>Country</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Publish time</th>
          <th>Reserved seating</th>
          <th>Sponsored</th>
          <th>User</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= image_tag event["picture"]["url"] , width: '125%' if event["picture"].present? %></td>
            <td><%= event["title"] %></td>
            <td><%= event["category"] %></td>
            <td><%= event["description"] %></td>
            <td><%= event["organizer_name"] %></td>
            <td><%= event["organizer_email"] %></td>
            <td><%= event["organizer_contact_no"] %></td>
            <td><%= event["venue"] %></td>
            <td><%= event["address1"] %></td>
            <td><%= event["address2"] %></td>
            <td><%= event["city"] %></td>
            <td><%= event["county"] %></td>
            <td><%= event["country"] %></td>
            <td><%= event["start_time"] %></td>
            <td><%= event["end_time"] %></td>
            <td><%= event["publish_time"] %></td>
            <td><%= event["reserved_seating"] %></td>
            <td><%= event["sponsored"] %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<br>
