<%= form_with(model: notification, local: true) do |form| %>
  <% if notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
        <% notification.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :users_id %>
    <%= form.text_field :users_id %>
  </div>

  <div class="field">
    <%= form.label :events_id %>
    <%= form.text_field :events_id %>
  </div>

  <div class="field">
    <%= form.label :notify_category %>
    <%= form.text_field :notify_category %>
  </div>

  <div class="field">
    <%= form.label :seen %>
    <%= form.check_box :seen %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
