<p id="notice"><%= notice %></p>

<h1>Notifications</h1>

<table class="table table-bordered">

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
      <% if notification.notify_category == "Rating" %>
        <td> Your Event <%=link_to Event.find(notification.events_id).title, event_path(notification.events_id) %> has been given a <%=link_to "rating", showEventRating_path(notification.events_id) %>.</td>
      <% elsif notification.notify_category == "Event" %>
        <% @name = User.find(Event.find(notification.events_id).user_id).first_name + " " + User.find(Event.find(notification.events_id).user_id).last_name %>
        <td> Your Subscribed User <%= link_to @name, {:controller => "events", :action => "showOrganizerEvents", :user_id => @name } %> added a new Event <%=link_to Event.find(notification.events_id).title, event_path(notification.events_id) %>.</td>
      <% else %>
      <td> You were subscribed recently by a user.</td>
      <% end %>
        <td><%= link_to 'Mark as Read', {:controller => "notifications", :action => "markAsRead", :notify_id => notification.id}, method: :patch, :class => "btn btn-outline-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

