<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @notification.users_id %>
</p>

<p>
  <strong>Events:</strong>
  <%= @notification.events_id %>
</p>

<p>
  <strong>Notify category:</strong>
  <%= @notification.notify_category %>
</p>

<p>
  <strong>Seen:</strong>
  <%= @notification.seen %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
