<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.radio_button :gender, "Male" %> Male
    <%= form.radio_button :gender, "Female" %> Female
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :contact_no %>
    <%= form.text_field :contact_no %>
  </div>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.select(:city, User::USER_CITY) %>
  </div>

  <div class="field">
    <%= form.label :county %>
    <%= form.select(:county, User::USER_COUNTY) %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.select(:country, User::USER_COUNTRY) %>
  </div>

  <div class="field">
    <%= form.label :interest1 %>
    <%= form.select(:interest1, User::USER_INTEREST) %>
  </div>

  <div class="field">
    <%= form.label :interest2 %>
    <%= form.select(:interest2, User::USER_INTEREST) %>
  </div>

  <div class="field">
    <%= form.label :interest3 %>
    <%= form.select(:interest3, User::USER_INTEREST) %>
  </div>

  <div class="field">
    <%= form.label :interest4 %>
    <%= form.select(:interest4, User::USER_INTEREST) %>
  </div>

  <div class="field">
    <%= form.label :interest5 %>
    <%= form.select(:interest5, User::USER_INTEREST) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
