<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :contact_no %>
    <%= form.text_field :contact_no %>
  </div>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :county %>
    <%= form.text_field :county %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :interest1 %>
    <%= form.text_field :interest1 %>
  </div>

  <div class="field">
    <%= form.label :interest2 %>
    <%= form.text_field :interest2 %>
  </div>

  <div class="field">
    <%= form.label :interest3 %>
    <%= form.text_field :interest3 %>
  </div>

  <div class="field">
    <%= form.label :interest4 %>
    <%= form.text_field :interest4 %>
  </div>

  <div class="field">
    <%= form.label :interest5 %>
    <%= form.text_field :interest5 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
