<table class="table table-striped">
  <tbody>
  <tr>
    <td>
      <p>
        <strong>First Name:</strong>
        <%= @users.first_name %>
      </p>
    </td>
    <td>
      <p>
        <strong>Last Name:</strong>
        <%= @users.last_name %>
      </p>
    </td>
    <td>
      <p>
        <strong>Gender:</strong>
        <%= @users.gender %>
      </p>
    </td>
    <td>
      <p>
        <strong>Email:</strong>
        <%= @users.email %>
      </p>
    </td>
    <td>
      <p>
        <strong>Contact no:</strong>
        <%= @users.contact_no %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <strong>Address1:</strong>
        <%= @users.address1 %>
      </p>
    </td>
    <td>
      <p>
        <strong>Address2:</strong>
        <%= @users.address2 %>
      </p>
    </td>
    <td>
      <p>
        <strong>City:</strong>
        <%= @users.city %>
      </p>
    </td>
    <td>
      <p>
        <strong>County:</strong>
        <%= @users.county %>
      </p>
    </td>
    <td>
      <p>
        <strong>Country:</strong>
        <%= @users.country %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <strong>Interest1:</strong>
        <%= @users.interest1 %>
      </p>
    </td>
    <td>
      <p>
        <strong>Interest2:</strong>
        <%= @users.interest2 %>
      </p>
    </td>
    <td>
      <p>
        <strong>Interest3:</strong>
        <%= @users.interest3 %>
      </p>
    </td>
    <td>
      <p>
        <strong>Interest4:</strong>
        <%= @users.interest4 %>
      </p>
    </td>
    <td>
      <p>
        <strong>Interest5:</strong>
        <%= @users.interest5 %>
      </p>
    </td>
  </tr>
  </tbody>
</table>

<div class="btn btn-outline-primary">
  <%= link_to 'Edit', edit_user_path(@users), :class => "btn" %>
</div>
