<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Contact no</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>County</th>
      <th>Country</th>
      <th>Interest1</th>
      <th>Interest2</th>
      <th>Interest3</th>
      <th>Interest4</th>
      <th>Interest5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @users.first_name %></td>
        <td><%= @users.last_name %></td>
        <td><%= @users.gender %></td>
        <td><%= @users.email %></td>
        <td><%= @users.contact_no %></td>
        <td><%= @users.address1 %></td>
        <td><%= @users.address2 %></td>
        <td><%= @users.city %></td>
        <td><%= @users.county %></td>
        <td><%= @users.country %></td>
        <td><%= @users.interest1 %></td>
        <td><%= @users.interest2 %></td>
        <td><%= @users.interest3 %></td>
        <td><%= @users.interest4 %></td>
        <td><%= @users.interest5 %></td>
        <td><%= link_to 'Edit', edit_user_path(@users) %></td>
      </tr>
  </tbody>
</table>
