<table class="table table-striped">
  <tbody>
  <tr>
    <td>
      <p>
        <strong>First Name:</strong>
        <%= @user.first_name %>
      </p>
    </td>
    <td>
      <p>
        <strong>Last Name:</strong>
        <%= @user.last_name %>
      </p>
    </td>
    <td>
      <p>
        <strong>Gender:</strong>
        <%= @user.gender %>
      </p>
    </td>
    <td>
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
    </td>
    <td>
      <p>
        <strong>Contact no:</strong>
        <%= @user.contact_no.to_i %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <strong>Address1:</strong>
        <%= @user.address1 %>
      </p>
    </td>
    <td>
      <p>
        <strong>Address2:</strong>
        <%= @user.address2 %>
      </p>
    </td>
    <td>
      <p>
        <strong>City:</strong>
        <%= @user.city %>
      </p>
    </td>
    <td>
      <p>
        <strong>County:</strong>
        <%= @user.county %>
      </p>
    </td>
    <td>
      <p>
        <strong>Country:</strong>
        <%= @user.country %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <strong>Interest1:</strong>
        <%= @user.interest1 %>
      </p>
    </td>
    <td>
      <p>
        <strong>Interest2:</strong>
        <%= @user.interest2 %>
      </p>
    </td>
    <td>
      <p>
        <strong>Interest3:</strong>
        <%= @user.interest3 %>
      </p>
    </td>
    <td>
      <p>
        <strong>Interest4:</strong>
        <%= @user.interest4 %>
      </p>
    </td>
    <td>
      <p>
        <strong>Interest5:</strong>
        <%= @user.interest5 %>
      </p>
    </td>
  </tr>
  </tbody>
</table>
