<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @user.contact_no %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @user.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @user.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @user.county %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Interest1:</strong>
  <%= @user.interest1 %>
</p>

<p>
  <strong>Interest2:</strong>
  <%= @user.interest2 %>
</p>

<p>
  <strong>Interest3:</strong>
  <%= @user.interest3 %>
</p>

<p>
  <strong>Interest4:</strong>
  <%= @user.interest4 %>
</p>

<p>
  <strong>Interest5:</strong>
  <%= @user.interest5 %>
</p>
