<% if @events == nil %>
  <h3> No events to display. </h3>
<% else %>
  <% @events.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.compact.each do |event| %>
        <div class="col-xs-6">
          <table class="table">
            <tr>
              <td>
                <%= image_tag event.picture_url, width: '30%' if event.picture.present? %>
                <h4><%= link_to event.title, event %></h4>
              </td>
              <td>
                Category: <%= event.category %>
                <br/>
                Description: <%= event.description %>
                <br/>
                Start Time: <%= event.start_time.strftime("%d/%m/%Y %I:%M%p") %>
                <br/>
                End Time: <%= event.end_time.strftime("%d/%m/%Y %I:%M%p") %>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<br>
