<%= form_with(model: @event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select(:category, Event::EVENT_CATEGORY) %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :organizer_name %>
    <%= form.text_field :organizer_name %>
  </div>

  <div class="field">
    <%= form.label :organizer_email %>
    <%= form.text_field :organizer_email %>
  </div>

  <div class="field">
    <%= form.label :organizer_contact_no %>
    <%= form.text_field :organizer_contact_no %>
  </div>

  <div class="field">
    <%= form.label :venue %>
    <%= form.text_field :venue %>
  </div>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.select(:city, Event::EVENT_CITY) %>
  </div>

  <div class="field">
    <%= form.label :county %>
    <%= form.select(:county, Event::EVENT_COUNTY) %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.select(:country, Event::EVENT_COUNTRY) %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time.strftime("%d/%m/%Y %I:%M%p") %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time.strftime("%d/%m/%Y %I:%M%p") %>
  </div>

  <div class="field">
    <%= form.label :publish_time %>
    <%= form.datetime_select :publish_time.strftime("%d/%m/%Y %I:%M%p") %>
  </div>

  <div class="field">
    <%= form.label :reserved_seating %>
    <%= form.radio_button :reserved_seating, "Yes" %> Yes
    <%= form.radio_button :reserved_seating, "No", :checked => true %> No
  </div>

  <div class="field">
    <%= form.label :sponsored %>
    <%= form.radio_button :sponsored, "Yes" %> Yes
    <%= form.radio_button :sponsored, "No", :checked => true %> No
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
