<table class="table table-striped">
  <tbody>
    <tr>
      <%= image_tag (@event.picture_url.to_s), width: '30%', class: "img-thumbnail" if @event.picture.present? %>
    </tr>
    <tr>
      <td>
      <p>
        <strong>Title:</strong>
        <%= @event.title %>
      </p>
      </td>
      <td>
      <p>
        <strong>Category:</strong>
        <%= @event.category %>
      </p>
      </td>
      <td>
      <p>
        <strong>Description:</strong>
        <%= @event.description %>
      </p>
      </td>
      <td>
      <p>
        <strong>Organizer name:</strong>
        <%= @event.organizer_name %>
      </p>
      </td>
      <td>
      <p>
        <strong>Organizer email:</strong>
        <%= @event.organizer_email %>
      </p>
      </td>
    </tr>
    <tr>
      <td>
      <p>
        <strong>Organizer contact no:</strong>
        <%= @event.organizer_contact_no %>
      </p>
      </td>
      <td>
      <p>
        <strong>Venue:</strong>
        <%= @event.venue %>
      </p>
      </td>
      <td>
      <p>
        <strong>Address1:</strong>
        <%= @event.address1 %>
      </p>
      </td>
      <td>
      <p>
        <strong>Address2:</strong>
        <%= @event.address2 %>
      </p>
      </td>
      <td>
      <p>
        <strong>City:</strong>
        <%= @event.city %>
      </p>
      </td>
    </tr>
    <tr>
      <td>
      <p>
        <strong>County:</strong>
        <%= @event.county %>
      </p>
      </td>
      <td>
      <p>
        <strong>Country:</strong>
        <%= @event.country %>
      </p>
      </td>
      <td>
      <p>
        <strong>Start time:</strong>
        <%= @event.start_time.strftime("%d/%m/%Y %I:%M%p") %>
      </p>
      </td>
      <td>
      <p>
        <strong>End time:</strong>
        <%= @event.end_time.strftime("%d/%m/%Y %I:%M%p") %>
      </p>
      </td>
      <td>
      <p>
        <strong>Publish time:</strong>
        <%= @event.publish_time.strftime("%d/%m/%Y %I:%M%p") %>
      </p>
      </td>
    </tr>
    <tr>
      <td>
      <p>
        <strong>Reserved seating:</strong>
        <%= @event.reserved_seating %>
      </p>
      </td>
      <td>
      <p>
        <strong>Sponsored:</strong>
        <%= @event.sponsored %>
      </p>
      </td>
      <td>
        <p>
          <strong>Overall Rating:</strong>
          <% unless @event.overall_rating.nil? || @event.overall_rating == 0.0 %>
            <%= link_to @event.overall_rating, {:controller => "ratings", :action => "showEventRating", :events_id => @event.id }  %>
          <% else %>
            --
          <% end %>
        </p>
      </td>
      <td/>
      <td/>
    </tr>
    <tr>
      <td/>
      <td>
        <%= link_to 'Tickets', event_tickets_path(@event), :class => "btn btn-outline-primary" %>
      </td>
      <td>
        <%= link_to 'Back', events_path, :class => "btn btn-outline-primary" %>
      </td>
      <% if user_signed_in? && @event.user_id == current_user.id %>
        <td>
          <%= link_to 'Edit', edit_event_path, :class => "btn btn-outline-primary" %>
        </td>
        <td>
          <%= link_to 'Delete', event_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary" %>
        </td>
        <% else %>
        <% if user_signed_in? %>
          <% if !@isSubscribed %>
            <td>
            <% @subscription = Hash.new %>
            <% @subscription["subscribed_user_id"] = @event.user_id %>
            <% @subscription["subscription_date"] = Time.now %>
            <% @subscription["user_id"] = current_user.id %>   

            <%= link_to 'Subscribe to Organizer', {:controller => "subscriptions", :action => "create", :subscription => @subscription } , :method => :post, :class => "btn btn-outline-primary" %>
            </td>
          <% else %>
          <% @subscription = Hash.new %>
          <% @subscription["subscribed_user_id"] = @event.user_id %>
          <% @subscription["subscription_date"] = Time.now %>
          <% @subscription["user_id"] = current_user.id %>   
           <td><%= link_to 'Unsubscribe from Organizer',{:controller => "subscriptions", :action => "deleteSubscribeFromEvent", :subscription => @subscription }, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary"  %></td>
          <% end %> 
          <% if !@isWishlisted %>
            <td>
            <% @wishlist = Hash.new %>
            <% @wishlist["wishlist_date"] = Time.now %>
            <% @wishlist["user_id"] = current_user.id %>
            <% @wishlist["event_id"] = @event.id %>
            <% @wishlist["event_name"] = @event.title %>
            <%= link_to 'Wishlist this Event', {:controller => "wishlists", :action => "create", :wishlist => @wishlist } , :method => :post, :class => "btn btn-outline-primary" %>
            </td>
          <% else %>
          <% @wishlist = Hash.new %>
            <% @wishlist["wishlist_date"] = Time.now %>
            <% @wishlist["user_id"] = current_user.id %>
            <% @wishlist["event_id"] = @event.id %>
            <% @wishlist["event_name"] = @event.title %>
            <td><%= link_to 'Remove from wishlist',{:controller => "wishlists", :action => "deleteWishlistFromEvent", :wishlist => @wishlist }, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary"  %></td>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>

<br>
<br>

<% if user_signed_in? %>
  <% if @other_users_events == nil %>
    <h3> No events to display based on your orders history. </h3>
  <% else %>
    <h3> Customers who bought this also bought: </h3>
    <table class="table table-bordered">
      <% @other_users_events.each do |other_users_event| %>
        <table class="table table-bordered">
          <tr>
            <td width="30%">
              <%= image_tag other_users_event.picture_url, width: "75%", class: "rounded float-left" if other_users_event.picture.present? %>
            </td>
            <td>
              <table class="table table-hover">
                <tr>
                  <h4><%= link_to other_users_event.title, other_users_event, class: "badge badge-light" %></h4>
                </tr>
                <thead>
                <tr>
                  <th scope="col">Category</th>
                  <th scope="col">Description</th>
                  <th scope="col">Venue</th>
                  <th scope="col">Start Time</th>
                  <th scope="col">End Time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <%= other_users_event.category %>
                  </td>
                  <td>
                    <%= other_users_event.description %>
                  </td>
                  <td>
                    <%= other_users_event.venue %>
                  </td>
                  <td>
                    <%= other_users_event.start_time.strftime("%d/%m/%Y %I:%M%p") %>
                  </td>
                  <td>
                    <%= other_users_event.end_time.strftime("%d/%m/%Y %I:%M%p") %>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      <% end %>
    </table>
  <% end %>

  <br>
  <br>

  <% if @other_users_previously_viewed_events == nil %>
    <h3> No events to display based on other customer views. </h3>
  <% else %>
    <h3> Customers who viewed this also viewed: </h3>
    <table class="table table-bordered">
      <% @other_users_previously_viewed_events.each do |other_users_viewed_events| %>
        <table class="table table-bordered">
          <tr>
            <td width="30%">
              <%= image_tag other_users_viewed_events.picture_url, width: "75%", class: "rounded float-left" if other_users_viewed_events.picture.present? %>
            </td>
            <td>
              <table class="table table-hover">
                <tr>
                  <h4><%= link_to other_users_viewed_events.title, other_users_viewed_events, class: "badge badge-light" %></h4>
                </tr>
                <thead>
                <tr>
                  <th scope="col">Category</th>
                  <th scope="col">Description</th>
                  <th scope="col">Venue</th>
                  <th scope="col">Start Time</th>
                  <th scope="col">End Time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <%= other_users_viewed_events.category %>
                  </td>
                  <td>
                    <%= other_users_viewed_events.description %>
                  </td>
                  <td>
                    <%= other_users_viewed_events.venue %>
                  </td>
                  <td>
                    <%= other_users_viewed_events.start_time.strftime("%d/%m/%Y %I:%M%p") %>
                  </td>
                  <td>
                    <%= other_users_viewed_events.end_time.strftime("%d/%m/%Y %I:%M%p") %>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      <% end %>
    </table>
  <% end %>
<% end %>
<br>
