<table class="table table-striped">
  <tbody>
    <tr>
      <%= image_tag @event.picture_url, width: '30%', class: "img-thumbnail" if @event.picture.present? %>
    </tr>
    <tr>
      <td>
      <p>
        <strong>Title:</strong>
        <%= @event.title %>
      </p>
      </td>
      <td>
      <p>
        <strong>Category:</strong>
        <%= @event.category %>
      </p>
      </td>
      <td>
      <p>
        <strong>Description:</strong>
        <%= @event.description %>
      </p>
      </td>
      <td>
      <p>
        <strong>Organizer name:</strong>
        <%= @event.organizer_name %>
      </p>
      </td>
      <td>
      <p>
        <strong>Organizer email:</strong>
        <%= @event.organizer_email %>
      </p>
      </td>
    </tr>
    <tr>
      <td>
      <p>
        <strong>Organizer contact no:</strong>
        <%= @event.organizer_contact_no %>
      </p>
      </td>
      <td>
      <p>
        <strong>Venue:</strong>
        <%= @event.venue %>
      </p>
      </td>
      <td>
      <p>
        <strong>Address1:</strong>
        <%= @event.address1 %>
      </p>
      </td>
      <td>
      <p>
        <strong>Address2:</strong>
        <%= @event.address2 %>
      </p>
      </td>
      <td>
      <p>
        <strong>City:</strong>
        <%= @event.city %>
      </p>
      </td>
    </tr>
    <tr>
      <td>
      <p>
        <strong>County:</strong>
        <%= @event.county %>
      </p>
      </td>
      <td>
      <p>
        <strong>Country:</strong>
        <%= @event.country %>
      </p>
      </td>
      <td>
      <p>
        <strong>Start time:</strong>
        <%= @event.start_time.strftime("%d/%m/%Y %I:%M%p") %>
      </p>
      </td>
      <td>
      <p>
        <strong>End time:</strong>
        <%= @event.end_time.strftime("%d/%m/%Y %I:%M%p") %>
      </p>
      </td>
      <td>
      <p>
        <strong>Publish time:</strong>
        <%= @event.publish_time.strftime("%d/%m/%Y %I:%M%p") %>
      </p>
      </td>
    </tr>
    <tr>
      <td>
      <p>
        <strong>Reserved seating:</strong>
        <%= @event.reserved_seating %>
      </p>
      </td>
      <td>
      <p>
        <strong>Sponsored:</strong>
        <%= @event.sponsored %>
      </p>
      </td>
      <td/>
      <td/>
      <td/>
    </tr>
    <tr>
      <td/>
      <td>
        <%= link_to 'Tickets', event_tickets_path(@event), :class => "btn btn-outline-primary" %>
      </td>
      <td>
        <%= link_to 'Back', events_path, :class => "btn btn-outline-primary" %>
      </td>
      <% if user_signed_in? && @event.user_id == current_user.id %>
        <td>
          <%= link_to 'Edit', edit_event_path, :class => "btn btn-outline-primary" %>
        </td>
        <td>
          <%= link_to 'Delete', event_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-primary" %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
