<%= form_with(model: rating, local: true) do |form| %>
  <% if rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
        <% rating.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_rating %>
    <%= form.select :user_rating, options_for_select(["0.5","1.0","1.5","2.0","2.5","3.0","3.5","4.0","4.5","5.0"]) %>
  </div>

  <div class="field">
    <%= form.label :user_review %>
    <%= form.text_area :user_review, rows: "3" %>
  </div>

  <div class="field">
    <%= form.label :event_name %>
    <%= form.text_field :event_name, :readonly => true, value: Event.find(rating.event_id).title %>
  </div>

  <div class="field">
    <%= form.hidden_field :rating_date %>
    <%= form.hidden_field :rating_date, :readonly => true, value: Time.now.strftime("%F") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
