<% if @ratings == nil %>
  <h3> This User has no ratings yet. </h3>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>User rating</th>
          <th>User review</th>
          <th>Rating date</th>
          <th>User</th>
          <th>Event</th>
          <th>Ticket</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @ratings.each do |rating| %>
          <tr>
            <td><%= rating.user_rating %></td>
            <td><%= rating.user_review %></td>
            <td><%= rating.rating_date %></td>
            <td><%= rating.user_id %></td>
            <td><%= rating.event_id %></td>
            <td><%= rating.ticket_id %></td>
            <td><%= link_to 'Show', user_rating_path(@user,rating) %></td>
            <td><%= link_to 'Edit', edit_user_rating_path(@user,rating) %></td>
            <td><%= link_to 'Destroy', user_rating_path(@user,rating) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<br>

<%= link_to 'New Rating', new_user_rating_path(@user) %>

<%= link_to 'Back to User', @user %>
