<% if @ratings == nil %>
  <h3> This User has no ratings yet. </h3>
  <% else %>
    <table class="table table-bordered">
      <thead>
          <th scope="col">User rating</th>
          <th scope="col">User review</th>
          <th scope="col">Event</th>
          <th colspan="2"></th>
      </thead>

      <tbody>
        <% @ratings.each do |rating| %>
          <% rating.each do |specrating| %>  
            <tr>
              <td><%= specrating.user_rating %></td>
              <td><%= specrating.user_review %></td>
              <td><%= Event.find(specrating.events_id).title %></td>
              <td><%= link_to 'Show', rating_path(specrating) %></td>
              <td><%= link_to 'Edit', edit_rating_path(specrating) %></td>
              
            </tr>
            <% end %>    
        <% end %>
      </tbody>
    </table>
  <% end %>
<br>



