<% if @ratings == nil %>
  <h3> This User has no ratings yet. </h3>
  <% else %>
    <table class="table table-bordered">
      <thead>
          <th scope="col">User rating</th>
          <th scope="col">User review</th>
          <th scope="col">Event</th>
          <th colspan="2"></th>
      </thead>

      <tbody>
        <% @ratings.each do |rating| %>
          <tr>
            <td><%= rating.user_rating %></td>
            <td><%= rating.user_review %></td>
            <td><%= Event.find(rating.event_id).title %></td>
            <td><%= link_to 'Show', rating_path(rating) %></td>
            <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
            
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<br>



