<p>
  <strong>User rating:</strong>
  <%= @rating.user_rating %>
</p>

<p>
  <strong>User review:</strong>
  <%= @rating.user_review %>
</p>
<p>
  <strong>Event:</strong>
  <%= Event.find(@rating.event_id).title %>
</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
