<%= form_with(model: [@user,@order], local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :no_of_tickets %>
    <%= form.text_field :no_of_tickets %>
  </div>

  <div class="field">
    <%= form.label :ticket_price %>
    <%= form.text_field :ticket_price %>
  </div>

  <div class="field">
    <%= form.label :fees_per_ticket %>
    <%= form.text_field :fees_per_ticket %>
  </div>

  <div class="field">
    <%= form.label :actual_ticket_price %>
    <%= form.text_field :actual_ticket_price %>
  </div>

  <div class="field">
    <%= form.label :organizer_payout_per_ticket %>
    <%= form.text_field :organizer_payout_per_ticket %>
  </div>

  <div class="field">
    <%= form.label :total_ticket_price %>
    <%= form.text_field :total_ticket_price %>
  </div>

  <div class="field">
    <%= form.label :total_fees %>
    <%= form.text_field :total_fees %>
  </div>

  <div class="field">
    <%= form.label :total_actual_ticket_price %>
    <%= form.text_field :total_actual_ticket_price %>
  </div>

  <div class="field">
    <%= form.label :total_organizer_payout %>
    <%= form.text_field :total_organizer_payout %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency %>
  </div>

  <div class="field">
    <%= form.label :guest_first_name %>
    <%= form.text_field :guest_first_name %>
  </div>

  <div class="field">
    <%= form.label :guest_last_name %>
    <%= form.text_field :guest_last_name %>
  </div>

  <div class="field">
    <%= form.label :guest_email %>
    <%= form.text_field :guest_email %>
  </div>

  <div class="field">
    <%= form.label :guest_contact_no %>
    <%= form.text_field :guest_contact_no %>
  </div>

  <div class="field">
    <%= form.label :payment_method %>
    <%= form.text_field :payment_method %>
  </div>

  <div class="field">
    <%= form.label :card_no %>
    <%= form.text_field :card_no %>
  </div>

  <div class="field">
    <%= form.label :expiry_date %>
    <%= form.date_select :expiry_date %>
  </div>

  <div class="field">
    <%= form.label :order_date %>
    <%= form.date_select :order_date %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :event_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :ticket_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
