<%= form_with(model: @order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table table-bordered">
    <tbody>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :event_id %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= @event_title %>
          <%= form.hidden_field :event_id, value: @order.event_id if @order %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :ticket_id %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= @ticket_type %>
          <%= form.hidden_field :ticket_id, value: @order.ticket_id if @order %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :no_of_tickets %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.select(:no_of_tickets, Order::NO_OF_TICKETS) %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :ticket_price %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :ticket_price, readonly: true %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :fees_per_ticket %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :fees_per_ticket, readonly: true %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :actual_ticket_price %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :actual_ticket_price, readonly: true %>
        </div>
      </td>
    </tr>
    <tr>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.hidden_field :organizer_payout_per_ticket, readonly: true %>
        </div>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :total_ticket_price %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :total_ticket_price, readonly: true %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :total_fees %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :total_fees, readonly: true %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :total_actual_ticket_price %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :total_actual_ticket_price, readonly: true %>
        </div>
      </td>
    </tr>
    <tr>
        <div class="field">
          <%= form.hidden_field :total_organizer_payout, readonly: true %>
        </div>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :currency %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.select(:currency, Order::ORDER_CURRENCY) %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :guest_first_name %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :guest_first_name, readonly: true %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :guest_last_name %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :guest_last_name, readonly: true %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :guest_email %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :guest_email, readonly: true %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :guest_contact_no %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :guest_contact_no, readonly: true %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="radio">
          <%= form.label :payment_method %>
        </div>
      </td>
      <td>
        <div>
          <%= form.radio_button :payment_method, "Debit Card" %> Debit Card
          <%= form.radio_button :payment_method, "Credit Card" %> Credit Card
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :card_no %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :card_no %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :expiry_date %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.date_select :expiry_date %>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
    $('#order_no_of_tickets').change(function () {
        var no_of_tickets = $('#order_no_of_tickets').val();

        if (no_of_tickets != "") {
            var ticket_price = $('input[name="order[ticket_price]"]').val();
            var fees_per_ticket = $('input[name="order[fees_per_ticket]"]').val();
            var actual_ticket_price = $('input[name="order[actual_ticket_price]"]').val();
            var organizer_payout_per_ticket = $('input[name="order[organizer_payout_per_ticket]"]').val();

            var total_ticket_price = parseFloat(no_of_tickets) * parseFloat(ticket_price);
            var total_fees = parseFloat(no_of_tickets) * parseFloat(fees_per_ticket);
            var total_actual_ticket_price = parseFloat(no_of_tickets) * parseFloat(actual_ticket_price);
            var total_organizer_payout = parseFloat(no_of_tickets) * parseFloat(organizer_payout_per_ticket);

            $('input[name="order[total_ticket_price]"]').val(total_ticket_price);
            $('input[name="order[total_fees]"]').val(total_fees);
            $('input[name="order[total_actual_ticket_price]"]').val(total_actual_ticket_price);
            $('input[name="order[total_organizer_payout]"]').val(total_organizer_payout);
        } else if (no_of_tickets == "") {
            $('input[name="order[total_ticket_price]"]').val("");
            $('input[name="order[total_fees]"]').val("");
            $('input[name="order[total_actual_ticket_price]"]').val("");
            $('input[name="order[total_organizer_payout]"]').val("");
        }
    });
</script>
