<% if @orders == nil %>
  <h3> No orders to display. </h3>
<% else %>
  <table>
    <thead>
      <tr>
        <th>No of tickets</th>
        <th>Ticket price</th>
        <th>Fees per ticket</th>
        <th>Actual ticket price</th>
        <th>Organizer payout per ticket</th>
        <th>Total ticket price</th>
        <th>Total fees</th>
        <th>Total actual ticket price</th>
        <th>Total organizer payout</th>
        <th>Currency</th>
        <th>Guest first name</th>
        <th>Guest last name</th>
        <th>Guest email</th>
        <th>Guest contact no</th>
        <th>Payment method</th>
        <th>Card no</th>
        <th>Expiry date</th>
        <th>Order date</th>
        <th>User</th>
        <th>Event</th>
        <th>Ticket</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.to_a.each do |order| %>
        <tr>
          <td><%= order.no_of_tickets %></td>
          <td><%= order.ticket_price %></td>
          <td><%= order.fees_per_ticket %></td>
          <td><%= order.actual_ticket_price %></td>
          <td><%= order.organizer_payout_per_ticket %></td>
          <td><%= order.total_ticket_price %></td>
          <td><%= order.total_fees %></td>
          <td><%= order.total_actual_ticket_price %></td>
          <td><%= order.total_organizer_payout %></td>
          <td><%= order.currency %></td>
          <td><%= order.guest_first_name %></td>
          <td><%= order.guest_last_name %></td>
          <td><%= order.guest_email %></td>
          <td><%= order.guest_contact_no %></td>
          <td><%= order.payment_method %></td>
          <td><%= order.card_no %></td>
          <td><%= order.expiry_date.strftime("%d/%m/%Y") %></td>
          <td><%= order.order_date.strftime("%d/%m/%Y") %></td>
          <td><%= order.user_id %></td>
          <td><%= order.event_id %></td>
          <td><%= order.ticket_id %></td>
          <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_order_path(order) %></td>
          <td> | </td>
          <td><%= link_to 'Delete', order_path(order) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= pagy_bootstrap_nav(@pagy).html_safe %>
