<% if @orders == nil %>
  <h3> No orders to display. </h3>
<% else %>
  <table class="table table-bordered">
    <% @orders.each do |order| %>
      <table class="table table-bordered">
        <tr>
          <td>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">Event</th>
                <th scope="col">Ticket</th>
                <th scope="col">No. of Tickets</th>
                <th scope="col">Ticket Price</th>
                <th scope="col">Total</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <h4><%= link_to order.event_id, order, class: "badge badge-light" %></h4>
                </td>
                <td>
                  <%= order.ticket_id %>
                </td>
                <td>
                  <%= order.no_of_tickets %>
                </td>
                <td>
                  <%= order.ticket_price %>
                </td>
                <td>
                  <%= order.total_ticket_price %>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    <% end %>
  </table>
<% end %>
<%= pagy_bootstrap_nav(@pagy).html_safe %>
