<p>
  <strong>No of tickets:</strong>
  <%= @order.no_of_tickets %>
</p>

<p>
  <strong>Ticket price:</strong>
  <%= @order.ticket_price %>
</p>

<p>
  <strong>Fees per ticket:</strong>
  <%= @order.fees_per_ticket %>
</p>

<p>
  <strong>Actual ticket price:</strong>
  <%= @order.actual_ticket_price %>
</p>

<p>
  <strong>Organizer payout per ticket:</strong>
  <%= @order.organizer_payout_per_ticket %>
</p>

<p>
  <strong>Total ticket price:</strong>
  <%= @order.total_ticket_price %>
</p>

<p>
  <strong>Total fees:</strong>
  <%= @order.total_fees %>
</p>

<p>
  <strong>Total actual ticket price:</strong>
  <%= @order.total_actual_ticket_price %>
</p>

<p>
  <strong>Total organizer payout:</strong>
  <%= @order.total_organizer_payout %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @order.currency %>
</p>

<p>
  <strong>Guest first name:</strong>
  <%= @order.guest_first_name %>
</p>

<p>
  <strong>Guest last name:</strong>
  <%= @order.guest_last_name %>
</p>

<p>
  <strong>Guest email:</strong>
  <%= @order.guest_email %>
</p>

<p>
  <strong>Guest contact no:</strong>
  <%= @order.guest_contact_no %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @order.payment_method %>
</p>

<p>
  <strong>Card no:</strong>
  <%= @order.card_no %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @order.expiry_date %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @order.event_id %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @order.ticket_id %>
</p>

<%= link_to 'Back', orders_path %>
