<%= form_with(model: [@event,@ticket], local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table table-bordered">
    <tbody>
    <tr>
      <td>
        <div class="radio">
          <%= form.label :entry_type %>
        </div>
      </td>
      <td>
        <div>
          <%= form.radio_button :entry_type, "Free" %> Free
          <%= form.radio_button :entry_type, "Paid" %> Paid
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="radio">
          <%= form.label :ticket_type %>
        </div>
      </td>
      <td>
        <div>
          <%= form.radio_button :ticket_type, "General" %> General
          <%= form.radio_button :ticket_type, "Premium" %> Premium
          <%= form.radio_button :ticket_type, "VIP" %> VIP
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="radio">
          <%= form.label :category %>
        </div>
      </td>
      <td>
        <div>
          <%= form.radio_button :category, "Refundable" %> Refundable
          <%= form.radio_button :category, "Non-Refundable" %> Non-Refundable
          <%= form.radio_button :category, "Early Bird" %> Early Bird
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :description %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_area :description %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :total_quantity %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :total_quantity %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :ticket_price %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :ticket_price %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="radio">
          <%= form.label :include_fees_in_ticket_price %>
        </div>
      </td>
      <td>
        <div>
          <%= form.radio_button :include_fees_in_ticket_price, "Yes" %> Yes
          <%= form.radio_button :include_fees_in_ticket_price, "No" %> No
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :fees_per_ticket %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :fees_per_ticket %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :actual_ticket_price %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :actual_ticket_price %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :organizer_payout_per_ticket %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.text_field :organizer_payout_per_ticket %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :sale_start_time %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.datetime_select :sale_start_time %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :sale_end_time %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.datetime_select :sale_end_time %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-group input-group-sm w-35 p-1">
          <%= form.label :currency %>
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm w-75 p-1">
          <%= form.select(:currency, Ticket::TICKET_CURRENCY) %>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="field">
    <%= form.hidden_field :event_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
    $( document ).ready(function() {
        $('input[name="ticket[fees_per_ticket]"]').attr('readonly', true);
        $('input[name="ticket[actual_ticket_price]"]').attr('readonly', true);
        $('input[name="ticket[organizer_payout_per_ticket]"]').attr('readonly', true);
        $('input[name="ticket[include_fees_in_ticket_price]"]')[0].checked = true;
    });

    $('input[name="ticket[entry_type]"]').on("click", function() {
        var entry_type_val = $("input[name='ticket[entry_type]']:checked").val();

        if (entry_type_val == "Free") {
            $('input[name="ticket[ticket_price]"]').val("0");
            $('input[name="ticket[fees_per_ticket]"]').val("0");
            $('input[name="ticket[actual_ticket_price]"]').val("0");
            $('input[name="ticket[organizer_payout_per_ticket]"]').val("0");

            $('input[name="ticket[ticket_type]"]')[0].checked = true;
            $('input[name="ticket[category]"]')[0].checked = true;

            $('input[name="ticket[ticket_price]"]').attr('readonly', true);
        } else if (entry_type_val == "Paid") {
            $('input[name="ticket[ticket_price]"]').val("");
            $('input[name="ticket[fees_per_ticket]"]').val("");
            $('input[name="ticket[actual_ticket_price]"]').val("");
            $('input[name="ticket[organizer_payout_per_ticket]"]').val("");

            $('input[name="ticket[ticket_type]"]')[0].checked = false;
            $('input[name="ticket[category]"]')[0].checked = false;

            $('input[name="ticket[ticket_price]"]').attr('readonly', false);
        }
    });

    $('input[name="ticket[ticket_type]"]').on("click", function() {
        var entry_type_val = $("input[name='ticket[entry_type]']:checked").val();

        if (entry_type_val == "Free") {
            return false;
        } else if (entry_type_val == "Paid") {
            return true;
        }
    });

    $('input[name="ticket[category]"]').on("click", function() {
        var entry_type_val = $("input[name='ticket[entry_type]']:checked").val();

        if (entry_type_val == "Free") {
            return false;
        } else if (entry_type_val == "Paid") {
            return true;
        }
    });

    $('input[name="ticket[include_fees_in_ticket_price]"]').on("click", function() {
        var entry_type_val = $("input[name='ticket[entry_type]']:checked").val();

        if (entry_type_val == "Free") {
            return false;
        } else if (entry_type_val == "Paid") {
            var entry_type_val = $("input[name='ticket[entry_type]']:checked").val();

            if (entry_type_val == "Free") {
                $('input[name="ticket[fees_per_ticket]"]').val("0");
                $('input[name="ticket[actual_ticket_price]"]').val("0");
                $('input[name="ticket[organizer_payout_per_ticket]"]').val("0");
            } else if (entry_type_val == "Paid") {
                var ticket_price = $('input[name="ticket[ticket_price]"]').val();

                if (ticket_price != "") {
                    var fees_per_ticket = (10 / 100 * ticket_price);

                    $('input[name="ticket[fees_per_ticket]"]').val(fees_per_ticket);

                    var include_fees_in_ticket_price = $("input[name='ticket[include_fees_in_ticket_price]']:checked").val();

                    if (include_fees_in_ticket_price == "Yes") {
                        var actual_ticket_price = parseFloat(ticket_price) - parseFloat(fees_per_ticket);
                        $('input[name="ticket[actual_ticket_price]"]').val(actual_ticket_price);

                        var organizer_payout_per_ticket = parseFloat(ticket_price) - parseFloat(fees_per_ticket);
                        $('input[name="ticket[organizer_payout_per_ticket]"]').val(organizer_payout_per_ticket);
                    } else if (include_fees_in_ticket_price == "No") {
                        var actual_ticket_price = parseFloat(ticket_price) + parseFloat(fees_per_ticket);
                        $('input[name="ticket[actual_ticket_price]"]').val(actual_ticket_price);

                        var organizer_payout_per_ticket = ticket_price;
                        $('input[name="ticket[organizer_payout_per_ticket]"]').val(organizer_payout_per_ticket);
                    }
                }
            }
        }
    });

    $('input[name="ticket[ticket_price]"]').on("blur", function() {
        var entry_type_val = $("input[name='ticket[entry_type]']:checked").val();

        if (entry_type_val == "Free") {
            $('input[name="ticket[fees_per_ticket]"]').val("0");
            $('input[name="ticket[actual_ticket_price]"]').val("0");
            $('input[name="ticket[organizer_payout_per_ticket]"]').val("0");
        } else if (entry_type_val == "Paid") {
            var ticket_price = $('input[name="ticket[ticket_price]"]').val();

            if (ticket_price != "") {
                var fees_per_ticket = (10 / 100 * ticket_price);

                $('input[name="ticket[fees_per_ticket]"]').val(fees_per_ticket);

                var include_fees_in_ticket_price = $("input[name='ticket[include_fees_in_ticket_price]']:checked").val();

                if (include_fees_in_ticket_price == "Yes") {
                    var actual_ticket_price = parseFloat(ticket_price) - parseFloat(fees_per_ticket);
                    $('input[name="ticket[actual_ticket_price]"]').val(actual_ticket_price);

                    var organizer_payout_per_ticket = parseFloat(ticket_price) - parseFloat(fees_per_ticket);
                    $('input[name="ticket[organizer_payout_per_ticket]"]').val(organizer_payout_per_ticket);
                } else if (include_fees_in_ticket_price == "No") {
                    var actual_ticket_price = parseFloat(ticket_price) + parseFloat(fees_per_ticket);
                    $('input[name="ticket[actual_ticket_price]"]').val(actual_ticket_price);

                    var organizer_payout_per_ticket = ticket_price;
                    $('input[name="ticket[organizer_payout_per_ticket]"]').val(organizer_payout_per_ticket);
                }
            }
        }
    });
</script>
