<% if @tickets == nil %>
  <h3> No tickets to display. </h3>
<% else %>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>User Preference</th>
      <th>Event</th>
      <th>Entry Type</th>
      <th>Ticket Type</th>
      <th>Category</th>
      <th>Description</th>
      <th>Ticket Price</th>
      <th>Fees per Ticket</th>
      <th>Actual Ticket Price</th>
      <th>Currency</th>
      <th colspan="5"></th>
    </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @tickets.each do |ticket| %>
        <tr>
          <td>
            <% if @tickets_weight[i].to_i > 0 && i == 0 %> High <% end %>
            <% if @tickets_weight[i].to_i > 0 && i == 1 %> Medium <% end %>
          </td>
          <td><%= @event_title %></td>
          <td><%= ticket.entry_type %></td>
          <td><%= ticket.ticket_type %></td>
          <td><%= ticket.category %></td>
          <td><%= ticket.description %></td>
          <td><%=  ticket.ticket_price  %></td>
          <td><%=  ticket.fees_per_ticket  %></td>
          <td><%=  ticket.actual_ticket_price  %></td>
          <td><%= ticket.currency %></td>
          <% if user_signed_in? %>
            <% if ticket.user_id == current_user.id %>
              <td><%= link_to 'Edit', edit_event_ticket_path(@event, ticket) %></td>
              <td><%= link_to 'Delete', event_ticket_path(@event, ticket) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
              <td/>
              <td/>
            <% end %>
            <td><%= link_to 'Buy', {:controller => "orders", :action => "new", :event_id => ticket.event_id, :ticket_id => ticket.id } %></td>
          <% end %>
          <% i += 1 %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>

<% if user_signed_in? && @is_user_organizer %>
  <%= link_to 'New Ticket', new_event_ticket_path(@event) %>
<% end %>
