<p id="notice"><%= notice %></p>

<h1>Tickets</h1>
<% if @orders == nil %>
  <h3> This User has no Tickets yet. </h3>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Total quantity</th>
          <th>Ticket price</th>
          <th>Include fees in ticket price</th>
          <th>Fees per ticket</th>
          <th>Actual ticket price</th>
          <th>Organizer payout per ticket</th>
          <th>Sale start date</th>
          <th>Sale start time</th>
          <th>Sale end date</th>
          <th>Sale end time</th>
          <th>Min tickets</th>
          <th>Max tickets</th>
          <th>Currency</th>
          <th>User</th>
          <th>Event</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.type %></td>
            <td><%= ticket.name %></td>
            <td><%= ticket.category %></td>
            <td><%= ticket.description %></td>
            <td><%= ticket.total_quantity %></td>
            <td><%= ticket.ticket_price %></td>
            <td><%= ticket.include_fees_in_ticket_price %></td>
            <td><%= ticket.fees_per_ticket %></td>
            <td><%= ticket.actual_ticket_price %></td>
            <td><%= ticket.organizer_payout_per_ticket %></td>
            <td><%= ticket.sale_start_time %></td>
            <td><%= ticket.sale_end_time %></td>
            <td><%= ticket.min_tickets %></td>
            <td><%= ticket.max_tickets %></td>
            <td><%= ticket.currency %></td>
            <td><%= ticket.user_id %></td>
            <td><%= ticket.event_id %></td>
            <td><%= link_to 'Show', user_ticket_path(@user,ticket) %></td>
            <td><%= link_to 'Edit', edit_user_ticket_path(@user,ticket) %></td>
            <td><%= link_to 'Destroy', user_ticket_path(@user,ticket) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<br>

<%= link_to 'New Order', new_user_ticket_path(@user) %>

<%= link_to 'Back to User', @user %>
