<p>
  <strong>Entry Type:</strong>
  <%= @ticket.entry_type %>
</p>

<p>
  <strong>Ticket Type:</strong>
  <%= @ticket.ticket_type %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ticket.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Total Quantity:</strong>
  <%= @ticket.total_quantity %>
</p>

<p>
  <strong>Ticket Price:</strong>
  <%= @ticket.ticket_price %>
</p>

<p>
  <strong>Include Fees in Ticket Price:</strong>
  <%= @ticket.include_fees_in_ticket_price %>
</p>

<p>
  <strong>Fees per Ticket:</strong>
  <%= @ticket.fees_per_ticket %>
</p>

<p>
  <strong>Actual Ticket Price:</strong>
  <%= @ticket.actual_ticket_price %>
</p>

<p>
  <strong>Organizer Payout per Ticket:</strong>
  <%= @ticket.organizer_payout_per_ticket %>
</p>

<p>
  <strong>Sale Start Time:</strong>
  <%= @ticket.sale_start_time %>
</p>

<p>
  <strong>Sale End Time:</strong>
  <%= @ticket.sale_end_time %>
</p>

<p>
  <strong>Min Tickets:</strong>
  <%= @ticket.min_tickets %>
</p>

<p>
  <strong>Max Tickets:</strong>
  <%= @ticket.max_tickets %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @ticket.currency %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @ticket.event_id %>
</p>

<%= link_to 'Edit', edit_user_ticket_path(@user,@ticket) %> |
<%= link_to 'Back', user_tickets_path %>